:root {
  --clarikr-pink-accent: #fa408b;
  --clarikr-flower-accent: #fb3868;
  --clarikr-red-accent: #fc4056;
  --clarikr-sun-accent: #fa5836;
  --clarikr-orange-accent: #f66201;
  --clarikr-amber-accent: #fb8f06;
  --clarikr-yellow-accent: #fbb806;
  --clarikr-gold-accent: #fed606;
  --clarikr-lime-accent: #89e90a;
  --clarikr-bud-accent: #25e00a;
  --clarikr-green-accent: #03c608;
  --clarikr-tree-accent: #21a801;
  --clarikr-water-accent: #2de6c8;
  --clarikr-sky-accent: #21d0f8;
  --clarikr-blue-accent: #1296fd;
  --clarikr-tech-accent: #0660f6;
  --clarikr-palenight-accent: #5945ea;
  --clarikr-sunrise-accent: #8c497c;
  --clarikr-purple-accent: #882ce7;
  --clarikr-purism-accent: #9864d4;
  --clarikr-magical-accent: #ac2cd4;
  --clarikr-magenta-accent: #e238c6;
  --clarikr-sakura-accent: #fa71b4;
  --clarikr-childish-accent: #fe8bac;
  --clarikr-peach-accent: #fb7576;
  --clarikr-elegance-accent: #eab686;
  --clarikr-coffee-accent: #9e765f;
  --clarikr-brown-accent: #714c40;
  --clarikr-branch-accent: #583c32;
  --clarikr-slate-accent: #3f4e66;
  --clarikr-grey-accent: #545454;
}
